@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);

.main-scroll::-webkit-scrollbar {
    padding-top: 1px;
    width: 10px;
}

.main-scroll::-webkit-scrollbar-thumb,
.tab-scroll::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

.tab-scroll::-webkit-scrollbar {
    height: 5px;
}
